<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyt.articlespringboot3.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.xyt.articlespringboot3.entity.Article">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <id property="postId" column="post_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="created" column="created" jdbcType="TIMESTAMP"/>
        <result property="lastModified" column="lastModified" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,postId,title,
        content,
        created,lastModified,isDelete
    </sql>
</mapper>
